# constants exposed by package

# functions exposed by package

# required packages
import( rstan )
import( Rcpp )
import( rstantools )
import( StanHeaders )

# dynamic link for Rcpp
useDynLib( stanEpiTutorial, .registration = TRUE )

